server:
 port: 8081

spring:
 thymeleaf:
  cache: false
  encoding: utf-8
 datasource:
  url: jdbc:mysql://119.29.40.206:3306/marketmanage?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
  username: market
  password: 555913
  driver-class-name: com.mysql.cj.jdbc.Driver
  hikari:
   max-lifetime: 120000


mybatis:
 type-aliases-package: com.fang.marketmanage.entity
 check-config-location: true
 config-location: classpath:mybatis-config.xml
 mapper-locations: classpath*:mapper/*Mapper.xml

logging:
 level:
  com.fang.marketmanage: debug

